<div *ngIf = "rok && predmet">
  <h3>Predmet: {{predmet.naziv}}</h3>
  <h4>Rok: {{rok.ispitniRok}}</h4>
  <h4>Tip: {{rok.tipIspita}}</h4>
</div>


<br>
<h4>Ucenici koji su prijavili rok:</h4>
<div class="row col-md-12">
  <div class="container col-md-12">
  <div class="row col-md-12">
  <table class="table table-striped table-hover custab">
  <thead>   
      <tr>
        <th >ID</th>
        <th>Ime i Prezime</th>
        <th>Broj Indeksa</th>
      </tr>
  </thead>
  
  <tr *ngFor="let ucenik of lista" style="cursor:pointer" 
  (click)="highlightRow(ucenik)"
  [ngClass] = "{'highlight' : ucenik.id == selectedId} ">

    <td style="width: 2%;">{{ ucenik.id }}</td>
    <td style="width: 30%;">{{ ucenik.ime }} {{ ucenik.prezime }}</td>
    <td style="width: 30%;">{{ ucenik.brojIndeksa }}</td>
    </tr>
  </table>
  </div>
</div>
</div>

<br>
<br>

<div *ngIf="ucenik">
  <h3>Ucenik: {{ucenik.ime}} {{ucenik.prezime}}</h3>
  <h4>Broj Indeksa: {{ucenik.brojIndeksa}}</h4>

  <br>

  <p>Broj osvojenih bodova: <input type="number" [max]="rok.maksimumBodova"  [(ngModel)]="brojBodova"> / {{rok.maksimumBodova}}</p>
  <span
   *ngIf="brojBodova > rok.maksimumBodova"
    class="help-block">Broj osvojenih bodova ne sme prelaziti maksimum broj bodova!!!
  </span>

  <div class="col-xs-12">
    <button class="btn btn-success" [disabled]="brojBodova > rok.maksimumBodova" (click)="oceni()" >Oceni</button>
  </div>
  

</div>




