<nav class="navbar navbar-default ">
  <div class="container-fluid">
    <div class="navbar-header">
      
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a   style="padding:0; padding-right: 15px" href="http://localhost:4200">
            <img src="assets/gnjurac.png" class="img-circle"
            style="margin:0;width: 50px; height: 50px;"> <b>  Gnjurac</b>
            
        </a>
           
      </li>
         

      
      <li routerLinkActive="active" *ngIf="role === 'ADMIN'"><a routerLink='/ucenici' style="cursor:pointer">Ucenici</a></li>
      <li routerLinkActive="active" *ngIf="role === 'ADMIN'"><a routerLink='/nastavnici' style="cursor:pointer">Nastavnici</a></li>
      <li routerLinkActive="active" *ngIf="role === 'ADMIN'"><a routerLink='/predmeti' style="cursor:pointer">Predmeti</a></li>
      <li routerLinkActive="active" *ngIf="role === 'NASTAVNIK'"><a routerLink='/nastavnik_predmeti' style="cursor:pointer">Predmeti</a></li>
      <li routerLinkActive="active" *ngIf="role === 'NASTAVNIK'"><a routerLink='/nastavnik/{{id}}' style="cursor:pointer">Nalog</a></li>
      
      <li routerLinkActive="active" *ngIf="role === 'UCENIK'"><a routerLink='/sviPredmeti' style="cursor:pointer">Predmeti koje slusam</a></li>
      <li routerLinkActive="active" *ngIf="role === 'UCENIK'"><a routerLink='/polozeniPredmeti' style="cursor:pointer">Polozeni predmeti</a></li>
      <li routerLinkActive="active" *ngIf="role === 'UCENIK'"><a routerLink='/nepolozeniPredmeti' style="cursor:pointer">Nepolozeni predmeti</a></li>
      <li routerLinkActive="active" *ngIf="role === 'UCENIK'"><a routerLink='/prijavaIspita' style="cursor:pointer">Prijava ispita</a></li>
      <li routerLinkActive="active" *ngIf="role === 'UCENIK'"><a routerLink='/istorijaUplata' style="cursor:pointer">Istorija uplata</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li>
          <a>{{role}}</a>           
        </li> 
        <!-- <li *ngIf="role === 'ADMIN'" class="dropdown" appDropdown>
            <a style="cursor:pointer" class="dropdown-toggle" role="button">Registracija <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a style="cursor:pointer"><span class="glyphicon glyphicon-user"></span>&emsp;Ucenik</a></li>
                <li><a style="cursor:pointer"><span class="glyphicon glyphicon-user"></span>&emsp;Profesor</a></li>
            </ul>
        </li> -->
        
        <li  class="dropdown" appDropdown>
            <a style="cursor:pointer" class="dropdown-toggle" role="button">Korisnik <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <hr *ngIf="role !== 'ADMIN'">
                <li *ngIf="role === 'UCENIK'"><a routerLink='/ucenik/{{ id }}' style="cursor:pointer"><span class="glyphicon glyphicon-user"></span>&emsp;Nalog</a></li>
                <hr *ngIf="role === 'UCENIK'">
                <li *ngIf="role === 'UCENIK'"><a routerLink='/uplata/{{ id }}' style="cursor:pointer"><span class="glyphicon glyphicon-euro"></span>&emsp;Racun</a></li>
                <hr>                
                <!-- <li><a style="cursor:pointer"><span class="glyphicon glyphicon-list-alt"></span>&emsp;O nama</a></li>	
                <hr> -->
                <li><a style="cursor:pointer" (click)="logOut()"><span class="glyphicon glyphicon-log-out"></span>&emsp;Odjava</a></li>
            </ul>
        </li>
    </ul>
    
  </div>
  
</nav>
