<a style="cursor: pointer;"
[routerLink]="[index]"
routerLinkActive="active"
class="list-group-item clearfix">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ nastavnik.ime }} {{ nastavnik.prezime }}</h4>
    <!-- <p class="list-group-item-text"></p> -->
    <p class="list-group-item-text"><em>username</em>: {{ nastavnik.username }}
    <!-- <p class="list-group-item-text"><em>password</em>: {{ nastavnik.password }} -->
    <p class="list-group-item-text"><em>Datum rodjenja</em>: {{ nastavnik.datumRodjenja | date:'dd-MMM-yyyy' }}</p>
    <p class="list-group-item-text"><em>Mesto rodjenja</em>: {{ nastavnik.mestoRodjenja }}</p>    
  </div>
</a>