
<h4>Predmet: {{predmet.naziv}}</h4>

<form [formGroup]="rokForm" (ngSubmit)="onSubmit()">    
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label >Tip: </label>
          <select id="tipIspita" class="form-control"
          formControlName="tipIspita" required>           
          <option *ngFor="let tip of tipovi" [value]="tip">{{ tip }}</option>
        </select>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label>Rok: </label>
            <select id="ispitniRok" class="form-control"
            formControlName="ispitniRok" required>           
            <option *ngFor="let rokk of rokovi" [value]="rokk">{{ rokk }}</option>
          </select>
          </div>
        </div>
      </div>

      <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label>Maksimalni broj bodova: </label>
              <input id="maksimumBodova" type="number" class="form-control"
               min="0" formControlName="maksimumBodova" required>
            </div>
          </div>
        </div>

     
      <div class="col-xs-12">
        <button type="submit" class="btn btn-success"  [disabled]="!rokForm.valid">Dodaj Rok</button>
        <button class="btn btn-danger" style="margin-left: 4px" (click)="onOdustani()">Odustani</button>
      </div>
<br>
      <hr>


<h5>Rokovi:</h5>

<div class="row col-md-12 ">
  <div class="container col-md-12">
    <div class="row col-md-12">
    <table class="table table-striped custab">
    <thead>   
        <tr >
            <th>Rok</th>
            <th>Tip</th>
            <th>Max Bodovi</th>
        </tr>
    </thead>
    <tr *ngFor = "let rok of postojeci_rokovi">
      <td style="width: 2%;">{{rok.ispitniRok}}</td>
      <td style="width: 10%;">{{rok.tipIspita}}</td>
      <td style="width: 10%;">{{rok.maksimumBodova}}</td>
      </tr>
    </table>
  </div>
  </div>
</div>
<br>


</form>




