<a style="cursor: pointer;"
[routerLink]="[id]"
routerLinkActive="active"
class="list-group-item clearfix">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ predaje.predmet.naziv }}</h4>
    <h5 class="list-group-item-heading">{{ predaje.uloga }}</h5>
    <p class="list-group-item-text"><em>Broj espb bodova</em>: {{ predaje.predmet.espb }}</p>  
  </div>
</a>


<!--  -->