<div class="row">
  <div class="col-xs-12">
    <h1>{{ predmet.naziv }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <em>Broj ESPB bodova</em>: <b>{{ predmet.espb }}</b>
  </div>
</div>
