<a style="cursor: pointer;"
[routerLink]="[index]"
routerLinkActive="active"
class="list-group-item clearfix">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ ucenik.ime }} {{ ucenik.prezime }}</h4>
    <!-- <p class="list-group-item-text"></p> -->
    <p class="list-group-item-text"><em>Datum rodjenja</em>: {{ ucenik.datumRodjenja | date:'dd.MM.yyyy' }}</p>
    <p class="list-group-item-text"><em>Mesto rodjenja</em>: {{ ucenik.mestoRodjenja }}</p>
    <p class="list-group-item-text"><em>Broj indeksa</em>: {{ ucenik.brojIndeksa }}</p>
    <p class="list-group-item-text"><em>Studijski program</em>: {{ ucenik.studijskiProgram }}</p>
    <p class="list-group-item-text"><em>Racun</em>: {{ ucenik.racun }}</p>
    <p class="list-group-item-text"><em>Korisnicko ime</em>: {{ ucenik.username }}</p>
    <p class="list-group-item-text"><em>Stanje na racunu</em>: {{ ucenik.stanjeRacun }} RSD</p>
    
  </div>
</a>