

<div class="row">
  <div class="col-md-5">
    <app-lista-predmeta-nastavnik
[nastavnik] = "nastavnik"
></app-lista-predmeta-nastavnik>

  </div>
  <div class="col-md-7">
    <router-outlet></router-outlet>
  </div>
</div>