<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="uceniciForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success dugme" [disabled]="!uceniciForm.valid">Sacuvaj</button>
          <button type="button" class="btn btn-danger pull-right" (click)="onOdustani()">Odustani</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="username">Korisnicko ime: </label>
            <input type="text"
            id="username"
            formControlName="username"
            class="form-control">
          </div>
        </div>
      </div>
      <div class="row" *ngIf="!editMode">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="password">Lozinka: </label>
            <input type="password"
            id="password"
            formControlName="password"
            class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="ime">Ime: </label>
            <input type="text"
            id="ime"
            formControlName="ime"
            class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="prezime">Prezime: </label>
            <input type="text"
            id="prezime"
            formControlName="prezime"
            class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="datumRodjenja">Datum rodjenja: </label>
            <input type="date"
            id="datumRodjenja"
            formControlName="datumRodjenja"
            class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="mestoRodjenja">Mesto rodjenja: </label>
            <input type="text"
            id="mestoRodjenja"
            formControlName="mestoRodjenja"
            class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="brojIndeksa">Broj indeksa: </label>
            <input type="text"
            id="brojIndeksa"
            formControlName="brojIndeksa"
            class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="studijskiProgram">Studijski program: </label>
            <input type="text"
            id="studijskiProgram"
            formControlName="studijskiProgram"
            class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="racun">Racun: </label>
            <input type="text"
            id="racun"
            formControlName="racun"
            class="form-control">
          </div>
        </div>
      </div>



      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="stanjeRacun">Stanje na racunu: </label>
            <input type="number" value="0" min="0"
            id="stanjeRacun"
            formControlName="stanjeRacun"
            class="form-control">
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="racun">Tip Studija: </label>
            <select id="tipStudija" class="form-control"
            formControlName="tipStudija" required>           
            <option *ngFor="let tip of tipStudijaLista" [value]="tip">{{ tip }}</option>
          </select>
          </div>
        </div>
      </div>
    </form>
    
    
    
  





  <div *ngIf="!editMode; else edit">


      <span class="btn btn-primary btn-file">
          Browse PDF File <input #myInput type="file" accept="application/pdf,application/vnd.ms-excel" class="custom-file-input" (change)="postMethod($event.target.files)">
      </span>
      

<br>

    <h4><p>Uploaded Files</p></h4>
  <table class="table table-bordered">
    <thead class="thead-dark">
      <th>Icon</th>
      <th>Name</th>
      <th>Type</th>
      
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let file of files">
        <td><img src="assets\pdf.png" 
          style="height: 30px;width: 30px"></td>
        <td>{{file.name}}</td>
        <td>{{file.type}}</td>
        <td><a (click) = "Delete(file)" class="btn btn-danger btn-xs">
            <span class="glyphicon glyphicon-trash"></span></a> 
        </td>
      </tr>
    </tbody>
  </table>

</div>

<ng-template #edit>  
    
  <h4><p>Uploaded Files</p></h4>
  <table class="table table-bordered">
    <thead class="thead-dark">
      <th>Icon</th>
      <th>Name</th>
      <th>Type</th>
      
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let file of files">
        <td><img src="https://cdn2.iconfinder.com/data/icons/adobe-acrobat-pdf/154/adobe-acrobat-pdf-file-document-512.png" 
          style="height: 30px;width: 30px"></td>
        <td>{{file.naslov}}</td>
        <td>pdf</td>  
        <td><a href="http://localhost:8080/api/dokumenta/download/{{file.id}}" target="_blank" class="btn btn-primary btn-xs">
            <span class="glyphicon glyphicon-eye-open">  Pogledaj PDF</span></a> 
        </td>      
      </tr>
    </tbody>
  </table>
  </ng-template>

  <br>
<br><br>
  </div>
</div>
