input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.dugme {
    margin-right: 20px;
}

/* input[type='file'] {
    color: transparent;   
  
    
  }

input[type='file'].hover
{
    display: none;

} */


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;   
    cursor: inherit;
    display: block;
}

input[type=file]:hover
{
    display: none;
}
