.dugme:focus, .dugme:active {
    text-decoration: none;
    color: inherit;
}
.dugme {
    color: black;
    cursor: pointer;
}

.dugme:hover {
    color: green;
    text-decoration: none;
}
.dugme, a.dugme:link, .dugme:active, .dugme:visited {
    transition: color 0.25s ease-out; 
   -webkit-transition: color 0.25s ease-out; 
   -moz-transition: color 0.25s ease-out; 
   -o-transition: color 0.25s ease-out;
   color: black; 
   }

   table tr.highlight {
    background-color: #4CAF50 !important;
    color: #ffffff;
}