<div *ngIf="predmet">

  <div class="row">
    <div class="col-xs-12">
      <h1>{{ predmet.naziv }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <em>Broj ESPB bodova</em>: <b>{{ predmet.espb }}</b>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="oceniUcenike()">Oceni Ucenike Na Predmetu</button>
    </div>
  </div>





<div class="row">
  <div class="col-xs-12">
    <br>

    
 
<h4>Rokovi:</h4>
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary" (click)="onDodajRok()" >Dodaj Rok</button>
  </div>
</div>
<br>
<div class="row">
    <div class="col-xs-6">
      <input [(ngModel)]="searchText" placeholder="Pretraga.." class="form-control">
    </div>
  </div>

<div class="row col-md-12">
  <div class="container col-md-12">
  <div class="row col-md-12">
  <table class="table table-striped table-hover custab">
  <thead>   
    <tr>
      <th>Rok</th>
      <th>Tip</th>
      <th>Maksimalni Bodovi</th>
      <th>Akcija</th>
  </tr>
  </thead>
  
  <tr *ngFor="let rok of rokovi | grdFilter: {ispitniRok : searchText}" style="cursor:pointer" 
  (click)="highlightRow(rok)"
  [ngClass] = "{'highlight' : rok.id == selectedId} ">

  <td style="width: 2%;">{{rok.ispitniRok}}</td>
  <td style="width: 10%;">{{rok.tipIspita}}</td>
  <td style="width: 10%;">{{rok.maksimumBodova}}</td>
  <td  style="width: 8%;">        
    <a (click) = "DeleteR(rok.id)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Izbrisi</a>
  </td>
    </tr>
  </table>
  </div>
</div>
</div>

<div class="col-xs-12">
  <button class="btn btn-success" [disabled]="!selectedId" (click)="oceni()">Oceni Rok</button>
</div>


</div>




