<div class="row">
  <div class="col-xs-12">
    <h1>Vasi licni podaci</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary" (click)="onIzmeniPodatke()">Izmeni podatke</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <em>Korisnicko ime</em>: <b>{{ ucenik.username }}</b>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    <em>Ime</em>: <b>{{ ucenik.ime }}</b>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    <em>Prezime</em>: <b>{{ ucenik.prezime }}</b>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    <em>Datum i mesto rodjenja</em>: <b>{{ ucenik.datumRodjenja | date:'dd.MM.yyyy' }} {{ ucenik.mestoRodjenja }}</b>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    <em>Broj indeksa</em>: <b>{{ ucenik.brojIndeksa }}</b>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    <em>Studijski program</em>: <b>{{ ucenik.studijskiProgram }}</b>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    <em>Tip studija</em>: <b>{{ ucenik.tipStudija }}</b>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    <em>Racun</em>: <b>{{ ucenik.racun }}</b>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    <em>Stanje na racunu</em>: <b>{{ ucenik.stanjeRacun }} RSD</b>
  </div>
</div>

<h4><p>Uploaded Files</p></h4>
  <table class="table table-bordered">
    <thead class="thead-dark">
      <th>Icon</th>
      <th>Name</th>
      <th>Type</th>
      
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let file of files">
        <td><img src="https://cdn2.iconfinder.com/data/icons/adobe-acrobat-pdf/154/adobe-acrobat-pdf-file-document-512.png" 
          style="height: 30px;width: 30px"></td>
        <td>{{file.naslov}}</td>
        <td>pdf</td>  
        <td><a href="http://localhost:8080/api/dokumenta/download/{{file.id}}" target="_blank" class="btn btn-primary btn-xs">
            <span class="glyphicon glyphicon-eye-open">  Pogledaj PDF</span></a> 
        </td>      
      </tr>
    </tbody>
  </table>


<hr>





