<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="predmetForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success dugme" [disabled]="!predmetForm.valid">Sacuvaj</button>
          <button type="button" class="btn btn-danger pull-right" (click)="onOdustani()">Odustani</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="naziv">Naziv predmeta: </label>
            <input type="text"
            id="naziv"
            formControlName="naziv"
            class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="espb">Broj ESP bodova: </label>
            <input type="number"
            id="espb"
            formControlName="espb"
            class="form-control">
          </div>
        </div>
      </div>    
    </form>
  </div>
</div>

