<div class="row">
  <div class="col-xs-12">
    <h1>{{ nastavnik.ime }} {{ nastavnik.prezime }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <em>Datum rodjenja</em>: <b>{{ nastavnik.datumRodjenja | date:'dd. MMMM yyyy.' }}</b>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
     <em>Mesto Rodjenja</em>: <b>{{ nastavnik.mestoRodjenja }}</b>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
     <em>Korisnicko ime</em>: <b>{{ nastavnik.username }}</b>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary dugme" (click)="onIzmeniNastavnika()">Izmeni nastavnika</button>
    <button class="btn btn-success dugme" (click)="onIzmeniPassword()" style="margin-left: 2%">Izmeni lozinku</button>
    <button class="btn btn-danger" (click)="onIzbrisiNastavnika()" style="margin-left: 2%" *ngIf="admin">Izbrisi nastavnika</button>
  </div>
</div>

