<h4>Ucenici koji ne pohadjaju ovaj predmet</h4>
<input [(ngModel)]="searchText" placeholder="Pretraga po Indexu..." class="advancedSearchTextbox">
<div class="row col-md-12">
  <div class="container col-md-12">
  <div class="row col-md-12">
  <table class="table table-hover">
      
  <thead>   
      <tr>
          <th>ID</th>
          <th>Ime i Prezime</th>
          <th>Broj Indexa</th>
          <th>Action</th>
      </tr>
  </thead>
  <tr *ngFor="let ucenik of lista | grdFilter: {brojIndeksa : searchText}">
    <td style="width: 2%;">{{ ucenik.id }}</td>
    <td style="width: 10%;">{{ucenik.ime}} {{ucenik.prezime}}</td>
    <td style="width: 3%;">{{ucenik.brojIndeksa}}</td>
    <td  style="width: 8%;">
      <a (click) = "DodajUcenika(ucenik.id)" class='btn btn-info btn-xs'><span class="glyphicon glyphicon-edit"></span> Dodaj ucenika</a> 
    </td>
    </tr>
  </table>
  </div>
</div>
</div>
<div class="col-xs-12">
  <button type="button" class="btn btn-danger" (click)="onOdustani()">Odustani</button>
</div>
