<div id="login-column" class="col-md-6">
    <div id="login-box" class="col-md-12">
        <form [formGroup]="signinForm" >
            <h3 class="text-center text-info">Prijava</h3>
            <div class="form-group">
                <label for="username" class="text-info">Korisnicko ime:</label><br>
                <input 
                type="text"
                name="email"
                id="email"
                class="form-control"
                placeholder="Korisnicko ime"
                formControlName="email">
                <span 
                    *ngIf="!signinForm.get('email').valid && signinForm.get('email').touched"                   
                    class="help-block">Morate uneti Korisnicko ime!!!</span>
                <span  *ngIf="!valid" 
                class="help-block">Neispravno korisnicko ime ili lozinka!!!</span>
            </div>
            <div class="form-group">
                <label for="password" class="text-info">Lozinka:</label><br>
                <input 
                type="password" 
                name="password" 
                id="password" 
                class="form-control" 
                placeholder="Lozinka"
                formControlName="password">
                <span 
                    *ngIf="!signinForm.get('password').valid && signinForm.get('password').touched"
                    class="help-block">Morate uneti lozinku!!!</span>
            </div>
            <div class="form-group">
                
                <input type="submit" name="submit" class="btn btn-info btn-md" value="Prijavi se"
                [disabled]="!signinForm.valid" (click)="login()">
            </div>
            
        </form>
    </div>
  </div>