<a style="cursor: pointer;"
[routerLink]="[index]"
routerLinkActive="active"
class="list-group-item clearfix">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ predmet.naziv }}</h4>
    <p class="list-group-item-text"><em>Broj espb bodova</em>: {{ predmet.espb }}</p>  
  </div>
</a>