<h4>Sve prijave:</h4>
<div class="row">
  <div class="col-xs-12">    
    <input [(ngModel)]="searchText" placeholder="Pretraga.." class="advancedSearchTextbox" style="margin-left:4%">
  </div>
</div>

<div class="row col-md-12">
    <div class="container col-md-12">
    <div class="row col-md-12">
    <table class="table custab">
    <thead>   
        <tr>
            <th>Ispitni Rok</th>
            <th>Tip Ispita</th>
            <th>Osvojeni Bodovi</th>
            <th>Maksimalni Bodovi</th>
        </tr>
    </thead>
    <tr *ngFor = "let ispit of ispiti | grdFilter: {tipIspita : searchText}" 
    [ngClass]="(ispit.maksimalniBodovi*0.51) &lt; ispit.osvojeniBodovi ? 'polozio' : 'nijePolozio'" >
      <td style="width: 2%;">{{ispit.ispitniRok}}</td>
      <td style="width: 10%;">{{ispit.tipIspita}}</td>
      <td style="width: 3%;">{{ispit.osvojeniBodovi}}</td>
      <td  style="width: 8%;">{{ispit.maksimalniBodovi}}</td>
      </tr>
    </table>
    </div>
  </div>
</div>

<div class="row col-md-12">
  <div class="container col-md-12">
  <div class="row col-md-12">
     <h4> Broj osvojenih: {{osvojeniBodovi}} </h4>
      <br>

      <p>Ocena: <input type="number" min="6" max="10" [(ngModel)]="konacnaOcena"></p>
      <span
       *ngIf="!provera"
        class="help-block">Ocena mora biti od 6 do 10
      </span>
    
      <div class="col-xs-12">
        <button class="btn btn-success"
           (click)="oceni()" >Oceni</button>
      </div>


  </div>
    </div>
    </div>



