<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="nastavnikForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success dugme" [disabled]="!nastavnikForm.valid">Sacuvaj</button>
          <button type="button" class="btn btn-danger pull-right" (click)="onOdustani()">Odustani</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="ime">Ime: </label>
            <input type="text"
            id="ime"
            formControlName="ime"
            class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="prezime">Prezime: </label>
            <input type="text"
            id="prezime"
            formControlName="prezime"
            class="form-control">
          </div>
        </div>
      </div>
      <div class="row" >
          <div class="col-xs-12">
            <div class="form-group">
              <label for="username">Username: </label>
              <input type="text" [disabled] = "!editMode"
              id="username"
              formControlName="username"
              class="form-control">
              <span *ngIf="!nastavnikForm.get('username').valid && nastavnikForm.get('username').touched" class="text-danger">
                username je zauzet
              </span>
            </div>
          </div>
        </div>
        
        <div class="row" *ngIf="!editMode">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="password">Password: </label>
                <input type="text"
                id="password"
                formControlName="password"
                class="form-control">
              </div>
            </div>
          </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="datumRodjenja">Datum rodjenja: </label>
            <input type="date"
            id="datumRodjenja"
            formControlName="datumRodjenja"
            class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="mestoRodjenja">Mesto rodjenja: </label>
            <input type="text"
            id="mestoRodjenja"
            formControlName="mestoRodjenja"
            class="form-control">
          </div>
        </div>
      </div>      
    </form>
  </div>
</div>
