<!-- <div class="row col-md-12">
  <div class="container col-md-12">
  <div class="row col-md-12">
  <table class="table table-striped table-hover custab">
  <thead>   
    <tr>
      <th>Rok</th>
      <th>Tip</th>
      <th>Max Bodovi</th>
  </tr>
  </thead>
  
  <tr *ngFor="let rok of rokovi | grdFilter: {ispitniRok : searchText}" style="cursor:pointer" 
  (click)="highlightRow(rok)"
  [ngClass] = "{'highlight' : rok.id == selectedId} ">

  <td style="width: 2%;">{{rok.ispitniRok}}</td>
  <td style="width: 10%;">{{rok.tipIspita}}</td>
  <td style="width: 10%;">{{rok.maksimumBodova}}</td>
  <td  style="width: 8%;">        
  </td>
    </tr>
  </table>
  </div>
</div>
</div>

<div class="col-xs-12">
  <button class="btn btn-success" [disabled]="!selectedId" (click)="oceni()">Oceni</button>
</div> -->
<div class="row">
  <div class="col-md-5">
    <app-lista-nepolozenih-predmeta></app-lista-nepolozenih-predmeta>

  </div>
  <div class="col-md-7">
    <router-outlet></router-outlet>
  </div>
</div>
