<div class="row">
  <div class="col-xs-12">
    <h1>{{ ucenik.ime }} {{ ucenik.prezime }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <em>Korisnicko ime</em>: <b>{{ ucenik.username }}</b>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <em>Datum i mesto rodjenja</em>: <b>{{ ucenik.datumRodjenja | date:'dd.MM.yyyy' }} {{ ucenik.mestoRodjenja }}</b>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
     <em>Broj indeksa</em>: <b>{{ ucenik.brojIndeksa }}</b>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <em>Studijski program</em>: <b>{{ ucenik.studijskiProgram }}</b>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <em>Racun</em>: <b>{{ ucenik.racun }}</b>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <em>Tip Studija</em>: <b>{{ ucenik.tipStudija }}</b>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <em>Stanje na racunu</em>: <b>{{ ucenik.stanjeRacun }} RSD</b>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary dugme" (click)="onIzmeniUcenika()">Izmeni ucenika</button>
    <button class="btn btn-danger" (click)="onIzbrisiUcenika()">Izbrisi ucenika</button>
  </div>
</div>

