<div class="row">
  <div class="col-xs-12">
    <h1>{{ predmet.naziv }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <em>Broj ESPB bodova</em>: <b>{{ predmet.espb }}</b>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <br>
<h4>Pohadja:</h4>
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary" (click)="onDodajUcenikaNaPredmet()">Dodaj ucenika</button>
    <input [(ngModel)]="searchText" placeholder="Pretraga.." class="advancedSearchTextbox" style="margin-left:4%">
  </div>
</div>

<div class="row col-md-12">
    <div class="container col-md-12">
    <div class="row col-md-12">
    <table class="table table-striped custab">
    <thead>   
        <tr>
            <th>ID</th>
            <th>Ime i Prezime</th>
            <th>Broj Indeksa</th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tr *ngFor = "let pohadjac of pohadja | grdFilter: {brojIndeksa : searchText}">
      <td style="width: 2%;">{{pohadjac.id}}</td>
      <td style="width: 10%;">{{pohadjac.ime}} {{pohadjac.prezime}}</td>
      <td style="width: 3%;">{{pohadjac.brojIndeksa}}</td>
      <td  style="width: 8%;">
        <a (click) = "EditU(pohadjac.id)"  class='btn btn-info btn-xs'><span class="glyphicon glyphicon-edit"></span> Izmeni</a> 
        <a (click) = "DeleteU(pohadjac.id)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Izbrisi</a>
      </td>
      </tr>
    </table>
    </div>
  </div>
</div>

<h4>Predaje:</h4>
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary" (click)="onDodajNastavnikaNaPredmet()">Dodaj nastavnika</button>
  </div>
</div>

<div class="row col-md-12 ">
  <div class="container col-md-12">
    <div class="row col-md-12">
    <table class="table table-striped custab">
    <thead>   
        <tr >
            <th>ID</th>
            <th>Ime i Prezime</th>
            <th>Uloga</th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tr *ngFor = "let predavac of predmet.predaje">
      <td style="width: 2%;">{{predavac.nastavnik.id}}</td>
      <td style="width: 10%;">{{predavac.nastavnik.ime}} {{predavac.nastavnik.prezime}}</td>
      <td style="width: 3%;">{{predavac.uloga}}</td>
      <td  style="width: 8%;">
        <a (click) = "EditP(predavac.nastavnik.id)" class='btn btn-info btn-xs'><span class="glyphicon glyphicon-edit"></span> Izmeni</a> 
        <a (click) = "DeleteP(predavac.nastavnik.id)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Izbrisi</a>
      </td>
      </tr>
    </table>
  </div>
  </div>
</div>

  </div>
</div>
<hr>

<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary dugme" (click)="onIzmeniPredmet()">Izmeni Predmet</button>
    <button class="btn btn-danger" (click)="onIzbrisiPredmet()" style="margin-left: 2%">Izbrisi Predmet</button>
  </div>
</div>
