<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onNoviUcenik()">Novi Ucenik</button>
  </div>
</div>
<hr>
<div class="row">
  <app-ucenici-item
  *ngFor="let ucenikEl of ucenici"
  [ucenik]="ucenikEl"
  [index]="ucenikEl.id"></app-ucenici-item>
</div>
