

<div class="bez" *ngIf="token; else loggedOut">
  <app-header></app-header>
  <div class="container">    
      <router-outlet></router-outlet>      
  </div>
  </div>

<ng-template #loggedOut>  
  <div class="container">
    <div style="padding-left: 30%;padding-top: 10%">
      <app-login></app-login>      
    </div>   
  </div>
</ng-template>

