
<div class="row">
  <div class="col-xs-12">
      <button class="btn btn-success"  (click)="onNoviNastavnik()">Novi Nastavnik</button>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    <input [(ngModel)]="searchText" placeholder="Pretraga nastavnika po prezimenu.." class="form-control">
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">        
      
      <app-nastavnik
      *ngFor="let nastavnikEl of nastavnici | grdFilter: {prezime : searchText}"
      [nastavnik] = "nastavnikEl"
      [index] = "nastavnikEl.id"></app-nastavnik>
  </div>
</div>