


<h4>Nastavnici koji ne predaju ovaj predmet</h4>
<div class="row col-md-12">
  <div class="container col-md-12">
  <div class="row col-md-12">
  <table class="table table-striped table-hover custab">
  <thead>   
      <tr>
        <th >ID</th>
        <th>Ime i Prezime</th>
      </tr>
  </thead>
  
  <tr *ngFor="let nastavnik of lista" style="cursor:pointer" 
  (click)="highlightRow(nastavnik)"
  [ngClass] = "{'highlight' : nastavnik.id == selectedId} ">

    <td style="width: 50%;">{{ nastavnik.id }}</td>
    <td style="width: 50%;">{{ nastavnik.ime }} {{ nastavnik.prezime }}</td>
    </tr>
  </table>
  </div>
</div>
</div>
<div class="row">
  <div class="col-xs-12">
      <h4>Uloga nastavnika</h4>
      <select [(ngModel)]="uloga" class="form-control">           
      <option *ngFor="let uloga of ulogaLista" [value]="uloga">{{ uloga }}</option>
    </select>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
      <button class="btn btn-success" [disabled]="!uloga || !selectedId" (click)="onDodajNastavnika(selectedId)">Dodaj Nastavnika</button>
      <button type="button" class="btn btn-danger pull-right" (click)="onOdustani()">Odustani</button>
  </div>
</div>