
<br>
<div class="row">
  <div class="col-xs-12">
      <input [(ngModel)]="searchText" placeholder="Pretraga predmeta po ulozi..." class="form-control">
  </div>
</div>

<div class="row">
</div>
<hr>
<div class="row">
  <div class="col-xs-12">        
      
    <app-predmet-nastavnik
    *ngFor="let predmet of predaje  | grdFilter: {uloga : searchText}"
    [predaje]="predmet"
    [id]="predmet.predmet.id"
    ></app-predmet-nastavnik>
  </div>
</div>