<div class="row col-md-12">
  <div class="container col-md-12">
  <div class="row col-md-12">
  <table class="table table-striped custab">
  <thead>   
      <tr>
          <th>ID</th>
          <th>Naziv</th>
          <th>Broj ESPB bodova</th>
          <th>Konacna ocena</th>
      </tr>
  </thead>
  <tr *ngFor="let predmet of predmeti">
    <td style="width: 2%;">{{ predmet.id }}</td>
    <td style="width: 5%;">{{ predmet.naziv }}</td>
    <td style="width: 5%;">{{ predmet.espb }}</td>
    <td style="width: 5%;">{{ predmet.pohadja[0].konacnaOcena }}</td>
    
    
    </tr>
  </table>
  </div>
</div>
</div>