<div class="row col-md-12">
  <div class="container col-md-12">
  <div class="row col-md-12">
  <table class="table table-striped custab">
  <thead>   
      <tr>
          <th>ID</th>
          <th>Iznos uplate</th>
          <th>Vreme uplate</th>
      </tr>
  </thead>
  <tr *ngFor="let uplata of uplate | paginate: {itemsPerPage:8, currentPage:p}">
    <td style="width: 5%;">{{ uplata.id }}</td>
    <td style="width: 5%;">{{ uplata.kolicina }} RSD</td>
    <td style="width: 2%;">{{ uplata.vreme | date:'dd.MM.yyyy' }}</td>
    </tr>
  </table>
  <pagination-controls (pageChange)="p = $event" style="float:right"></pagination-controls>
  </div>
</div>
</div>
