<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="uceniciForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success dugme" [disabled]="!uceniciForm.valid">Sacuvaj</button>
          <button type="button" class="btn btn-danger pull-right" (click)="onOdustani()">Odustani</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="username">Korisnicko ime: </label>
            <input type="text"
            id="username"
            formControlName="username"
            class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="password"></label>
            <input type="hidden"
            id="password"
            formControlName="password"
            class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="ime">Ime: </label>
            <input type="text"
            id="ime"
            formControlName="ime"
            class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="prezime">Prezime: </label>
            <input type="text"
            id="prezime"
            formControlName="prezime"
            class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="datumRodjenja">Datum rodjenja: </label>
            <input type="date"
            id="datumRodjenja"
            formControlName="datumRodjenja"
            class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="mestoRodjenja">Mesto rodjenja: </label>
            <input type="text"
            id="mestoRodjenja"
            formControlName="mestoRodjenja"
            class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="brojIndeksa">Broj indeksa: </label>
            <input type="text"
            id="brojIndeksa"
            formControlName="brojIndeksa"
            class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="studijskiProgram">Studijski program: </label>
            <input type="text"
            id="studijskiProgram"
            formControlName="studijskiProgram"
            class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="racun">Racun: </label>
            <input type="text"
            id="racun"
            formControlName="racun"
            class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="racun"></label>
            <input type="hidden"
            id="stanjeRacun"
            formControlName="stanjeRacun"
            class="form-control">
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="racun">Tip Studija: </label>
            <select id="tipStudija" class="form-control"
            formControlName="tipStudija" required>           
            <option *ngFor="let tip of tipStudijaLista" [value]="tip">{{ tip }}</option>
          </select>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
