
<div class="row">
  <div class="col-xs-12">
    <h1>{{ predmet.naziv }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <em>Broj ESPB bodova</em>: <b>{{ predmet.espb }}</b>
  </div>
</div>


<div class="row">
  <div class="col-xs-12">
    <br>
    
<h4>Rokovi:</h4>
<div class="row">
  <div class="col-xs-12">
    <input [(ngModel)]="searchText" placeholder="Pretraga.." class="advancedSearchTextbox" style="margin-left:4%">
  </div>
</div>

<div class="row col-md-12">
  <div class="container col-md-12">
  <div class="row col-md-12">
  <table class="table table-striped table-hover custab">
  <thead>   
    <tr>
      <th>Rok</th>
      <th>Tip</th>
      <th>Maksimalni Bodovi</th>
  </tr>
  </thead>
  
  <tr *ngFor="let rok of rokovi | grdFilter: {ispitniRok : searchText}" style="cursor:pointer" 
  (click)="highlightRow(rok)"
  [ngClass] = "{'highlight' : rok.id == selectedId} ">

  <td style="width: 2%;">{{rok.ispitniRok}}</td>
  <td style="width: 10%;">{{rok.tipIspita}}</td>
  <td style="width: 10%;">{{rok.maksimumBodova}}</td>
    </tr>
  </table>
  </div>
</div>
</div>

<div class="col-xs-12">
  <button class="btn btn-success" [disabled]="!selectedId" (click)="prijavi()">Prijavi</button>
</div>





