<div class="row">
  <div class="col-xs-12">
      <button class="btn btn-success"  (click)="onNoviPredmet()">Novi Predmet</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">        
      
      <app-predmet
      *ngFor="let predmetEl of predmeti"
      [predmet] = "predmetEl"
      [index] = "predmetEl.id"></app-predmet>
  </div>
</div>
