
<div class="row">
  <div class="col-md-6">
      <h3>Menjanje Passworda</h3>
      <h4>Nastavnik: {{nastavnik.ime}} {{nastavnik.prezime}}</h4>
      <button (click)="pogledaj()" class="btn btn-primary"><span class="glyphicon glyphicon-eye-open"></span>  Pogledaj lozinke</button>
  </div>
</div>
<div class="row">  
  <div class="col-md-6">
      <div class="form-group">
        <label for="oldPassowrd">Stara lozinka:</label>
        <input [type]="vidi" id="oldPassowrd" class="form-control" [(ngModel)]="oldPassowrd">
      </div>
      <div class="form-group">
          <label for="newPassword">Nova lozinka:</label>
          <input [type]="vidi" id="newPassword" class="form-control" [(ngModel)]="newPassword"> 
        </div>
      <div class="form-group">
          <label for="repeatPassword">Ponovi lozinku:</label>
          <input [type]="vidi" id="repeatPassword" class="form-control" [(ngModel)]="repeatPassword">         
      </div>
      <span *ngIf="!provera" class="text-danger">Lozinke se ne podudaraju</span>
      <span *ngIf="!stari" class="text-danger">Stara lozinka je pogresna</span>
      <div class="button-group">
          <input type="button" (click)="promeni()" class="btn btn-primary" value="Promeni">
          <input type="button" (click)="odustani()" class="btn btn-danger" style="margin-left: 2%" value="Odustani">
      </div>
  </div>
</div>