
<h4>Ucenici koji nisu polozili predmet:</h4>
<div class="row">
  <div class="col-xs-12">
    <input [(ngModel)]="searchText" placeholder="Search.." class="advancedSearchTextbox" style="margin-left:4%">
  </div>
</div>

<div class="row col-md-12">
  <div class="container col-md-12">
  <div class="row col-md-12">
  <table class="table table-striped table-hover custab">
  <thead>   
    <tr>
      <th>Id</th>
      <th>Ime i Prezime</th>
      <th>Broj Indexa</th>
  </tr>
  </thead>
  
  <tr *ngFor="let ucenik of ucenici | grdFilter: {brojIndeksa : searchText}" style="cursor:pointer" 
  (click)="highlightRow(ucenik)"
  [ngClass] = "{'highlight' : ucenik.id == selectedId} ">

  <td style="width: 2%;">{{ucenik.id}}</td>
  <td style="width: 10%;">{{ucenik.ime}} {{ucenik.prezime}}</td>
  <td style="width: 10%;">{{ucenik.brojIndeksa}}</td>
    </tr>
  </table>
  </div>
</div>
</div>

<div class="col-xs-12">
  <button class="btn btn-success" [disabled]="!selectedId" (click)="oceniUcenika()">Oceni Ucenika</button>
</div>
