<div class="row" *ngIf="ucenik">
  <h1>Stanje na vasem racunu: {{ ucenik['stanjeRacun'] }} RSD </h1>
</div>
<br>
<div class="row">
    <button class="btn btn-primary" (click)="toggleShow()">Uplata</button>
</div>
<div *ngIf="isShown" id="divshow">
<table class="form-table" align=center border=0 cellpadding=0 cellspacing=0>
  <tr>
    <td width="16">&nbsp;</td>
    <td width="72">&nbsp;</td>
    <td width="72">&nbsp;</td>
    <td width="72">&nbsp;</td>
    <td width="128">&nbsp;</td>
    <td width="24">&nbsp;</td>
    <td width="64">&nbsp;</td>
    <td width="16">&nbsp;</td>
    <td width="64">&nbsp;</td>
    <td width="16">&nbsp;</td>
    <td width="96">&nbsp;</td>
    <td width="96">&nbsp;</td>
    <td width="16">&nbsp;</td>
  </tr>
  <tr>
    <td> </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td colspan=6 class="form-ff-naslov">НАЛОГ ЗА УПЛАТУ</td>
    <td> </td>
  </tr>
  <tr>
    <td> </td>
    <td colspan=4>уплатилац</td>
    <td></td>
    <td width=64>шифра плаћања
    </td>
    <td></td>
    <td>валута</td>
    <td></td>
    <td>износ</td>
    <td></td>
    <td> </td>
  </tr>
  <tr>
    <td> </td>
    <td colspan=4 rowspan=2 class=form-ff> {{ ucenik.ime }} {{ ucenik.prezime }} </td> <!-- Uplatilac -->
    <td></td>    
    <td rowspan=2 class=form-ff>97</td> <!-- SIFRA PLACANJA -->
    <td ></td>
    <td rowspan=2 class=form-ff>РСД</td> <!-- VALUTA -->
    <td rowspan=2 > </td>
    <td colspan=2 rowspan=2 class=form-ff><input id="userName" [(ngModel)]="value" [ngModelOptions]="{standalone: true}" type="number" min="0"></td> <!-- VREDNOST -->
    <td> </td>
  </tr>
  <tr>
    <td > </td>
    <td></td>
    <td ></td>
    <td> </td>
  </tr>
  <tr>
    <td> </td>
    <td colspan=4 >сврха плаћања
    </td>
    <td></td>
    <td colspan=6 class="noBorder">рачун примаоца
    </td>
    
    <td> </td>
  </tr>
  <tr>
    <td> </td>
    <td colspan=4 rowspan=2 class=form-ff> Prijava Ispita
    </td>
    <td></td>
    <td colspan=6 class=form-ff id="js-brTekuceg"> 
      {{ ucenik.racun }}
    </td>  <!-- racun primaoca -->
    <td> </td>
  </tr>
  <tr>
    <td> </td>
    <td></td>
    <td></td>
    <td></td>
    <td colspan=4>
      
    </td>
    <td> </td>
  </tr>
  <tr>
    <td> </td>
    <td colspan=4>прималац</td>
    <td></td>
    <td ></td>
    <td></td>
    <td colspan=4 >
    </td>
    <td> </td>
  </tr>
  <tr>
    <td> </td>
    <td colspan=4 rowspan=2 width=64 height=32 class=form-ff>{{ ucenik.studijskiProgram }} 
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td> </td>
  </tr>
  <tr>
    <td> </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td> </td>
  </tr>
  <tr>
    <td> </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td> </td>
  </tr>
</table>
<br>
<div class="row">
      <button type="button" (click)="onSubmit()" style="margin-left: 16%;" class="btn btn-success" [disabled]="value == 0">Uplati</button>
      <button type="button" style="margin-right: 16%;" class="btn btn-danger pull-right" (click)="onOdustani()">Odustani</button>
  </div>
  <br><br>
</div>