table {
    border-collapse: separate;
      font-size: 8pt;
      table-layout: fixed;
    }
    
    .form-ff {
      border: 1pt solid black;
      font-weight: 700;
      font-size: 12pt;
      text-align: center;
      font-family: monospace;
      height: 24pt;
    }
    
    .form-ff-naslov {
      text-align: right;
      font-weight: 700;
      font-size: 12pt;
    }
    
    .form-table {
      border: 1pt solid black;
      height: 99mm;
      width: 210mm;
    }
  
    textarea:focus, input:focus{
      outline: none;
  }
  input{text-align: right;
      font-weight:bold;
      font-size: 11pt;
      border:none;}
  
      #js-brTekuceg{
        text-align: right;
        padding-right: 10px;
      }
  
      